@import 'normalize.css';



 
  #titulo{ 
    font-family:'Pacifico', cursive;
    font-size: 60px;
    line-height: 60px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
     }


    .navbar.navbar-expand-lg.navbar-light.bg-light{
      justify-content: flex-end;
      flex-direction: row;
      width: 100%;
    }

   .me-auto.navbar-nav{
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
   }

  .Menu.container{
    justify-content: flex-end;
    margin: 0px !important;
    width: fit-content;
    block-size: fit-content;

  }

  .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

  .botonesMain{
    justify-content: space-between;
    display: flex;
    color: black; 
    font-family: "Great Vibes";
    font-size: 20px;
    line-height: 20px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-shadow: 0 1px 1px #fff;
    
    
  }


  

body {
  width: 100%;
  margin: auto;
}

main{
  display: flex;
  flex-direction: column;
}

#primero {
  background-color: #f30bcc;
  content:'primero';
  height: 150px;
}

#segundo {
  background-color: blue;
  content:'segundo';
  height: 200px;
}


/* CABECERA PRINCIPAL */

#PaginaPrincipal{
    background-color: white;
}



/*CART*/

#productosAleatorios{
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        margin-left: 15px;
        


        
        
          
       

      
} 





 #productosAleatorios-TarjArticle{ 
    
     background: #f5f5f5; 
     box-shadow: 0 10px 20px rgba(0,0,0,.3); 
     overflow: hidden; 
     border-radius: 5px; 
     padding: 25px; 
     text-align: center; 

     
 }
 
  
     #divImagenArticulo { 
       margin: 0; 
       padding: 0; 
       overflow: hidden; 
       outline: none!important; 
     }
     
  
        #articuloImagen { 
         margin: -95px 0 -60px; 
         width: 100%; 
       } 

    #precio{
        float: left;
        color: black;
        font-size: 22px;
        font-weight: 900;
        padding-top: 2px;
        transition: color .3s ease-in-out;
        margin-top: 4px;
      }

    #nombreProducto{

        display: inline-block;
        font-size: 13px;
        font-weight: 900;
        color: #f30bcc;
        padding: 12px 18px;
        border: none;
        background: none;
        outline: none;
        border: 1px solid #ff00ee;
        border-radius: 20px;
        overflow: hidden;
    } 
    
    #marcaProducto{
        font-weight: 900;
        text-transform: uppercase;
        font-size: 15px;
        color: black;
        margin-bottom: 5px;
      }

    .fotocarrusel{
      width: 100%;
      padding: 1%;
     
    }

   .footer{
  
      background: white !important;
   }
  
  .footer h5{
    padding-left: 10px;
    
      padding-bottom: 6px;
      margin-bottom: 20px;
      color:black;
  }
  .footer a {
      color: black;
      text-decoration: none !important;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
  }
  .footer ul.social li{
    padding: 3px 0;
  }
  .footer ul.social li a i {
      margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }
  .footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
  }
  .footer ul.social li a,
  .footer ul.quick-links li a{
    color:black;
  }
  .footer ul.social li a:hover{
    color:black;
  }
  .footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }
  .footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
  }
  .footer ul.quick-links li a i{
    margin-right: 5px;
  }
  .footer ul.quick-links li:hover a i {
      font-weight: 700;
  }
  
  @media (max-width:767px){
    .footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
  }
  }
  
   
    

  